a{
    cursor: pointer;
}

.me-2{
    margin-right: 7px;
}
.me-1{
    margin-right: 5px;
}
.ms-1{
    margin-left: 2px;
}
.tbody-text{
    font-family: Arial, sans-serif;
    color: #575757; 
    font-size: small;
}